body {
    background-color: #aaaeeb;
}

.container {
  flex:auto;
}

.card {
  background-color: rgb(114, 146, 204);
  width: 30%;
  text-align: center;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
}