body {
    background-color: #aaaeeb;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: rgb(114, 146, 204);
  width: 30%;
  text-align: center;
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
}

button {
  background-color: rgb(114, 146, 204);
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}